<%- include('./partials/head') %>

<%- include('./partials/navigation') %>

<!-- Page Content -->

<%- include('./partials/leftMenu') %>

    <section class="col-lg-9">

      <div class="row">

      <% figurines.forEach(figurine => { %>
        <article class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="/article/<%=figurine.id%>">
              <img class="card-img-top" src="/images/<%= figurine.name.toLowerCase() %>.png" alt="">
              <div class="badge-category badge badge-pill badge-<%= figurine.category.toLowerCase() %>"><%= figurine.category %></div>
            </a>
            <div class="card-body">
              <h2 class="card-title h4">
                <a href="/article/<%=figurine.id%>"><%= figurine.name %></a>
              </h2>
              <strong class="h5 d-block">$<%= figurine.price %></strong>
              <p class="card-text"><%= figurine.description %></p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              <a href="/bookmarks/add/<%=figurine.id%>" class="link-add-bookmarks">+ Ajouter aux favoris</a>
            </div>
          </div>
        </article>
       <% }) %>

      </div>
      <!-- /.row -->

    </section>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</main>
<!-- /.container -->

<%- include('./partials/footer') %>