<%- include('partials/header') %>

  <!-- Page Content -->
  <main class="container container-main">

    <div class="row">

      <%# 
        Le menu de gauche n'est pas un contenu principal dans ma page mais va faire référence au contenu
        C'est donc un a côté
      %>
      <aside class="col-lg-3">

        <%- include('partials/leftMenu') %>

      </aside>
      <!-- /.col-lg-3 -->

      <%# J'utilise la section qui donne du sens et va indiquer que c'est une partie de mon contenu principal %>
      <section class="col-lg-9">

        <div class="row">

          <% figurines.forEach(figurine => { %>
            <article class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="/article/<%= figurine.id %>">
                  <img class="card-img-top" src="./images/<%= figurine.name.toLowerCase() %>.png" alt="">
                  <div class="badge-category badge badge-pill badge-<%= figurine.category.toLowerCase() %>"><%= figurine.category %></div>
                </a>
                <div class="card-body">
                  <h2 class="card-title h4">
                    <a href="/article/<%= figurine.id %>"><%= figurine.name %></a>
                  </h2>
                  <strong class="h5">$<%= figurine.price %></strong>
                  <p class="card-text"><%= figurine.description %></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  <a href="/bookmarks/add/<%= figurine.id %>" class="link-add-bookmarks">+ Ajouter aux favoris</a>
                </div>
              </div>
            </article>
          <% }) %>

        </div>
        <!-- /.row -->

      </section>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </main>
  <!-- /.container -->
<%- include('partials/footer') %>
