<%- include('partials/header') %>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "<%= figurine.name %>",
      "description": "<%= figurine.description %>",
      "image": "http://localhost:3000/images/<%= figurine.name.toLowerCase() %>.png",
      "offers": {
        "@type": "Offer",
        "priceCurrency": "USD",
        "price": "<%= figurine.price %>",
        "itemCondition": "https://schema.org/NewCondition",
        "availability": "https://schema.org/InStock",
        "priceValidUntil": "<%= new Date(new Date().getFullYear(), 11, 31, 23, 59, 59, 999).toISOString(); %>"
      }
    }
  </script>

  <!-- Page Content -->
  <main class="container container-main">

    <div class="row">

      <aside class="col-lg-3">
        <%- include('partials/leftMenu') %>
      </aside>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <article class="row">
          <div class="col-lg-6">
            <img class="" src="/images/<%= figurine.name.toLowerCase() %>.png" alt="">
          </div>

          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                  <h2 class="card-title h3 d-inline">
                    <%= figurine.name %>
                  </h2>
                  <h3 class="h3 d-inline badge badge-pill badge-<%= figurine.category.toLowerCase() %>"><%= figurine.category %></h3>
                  <p class="card-text">Taille réelle : <%= figurine.size %>cm</p>
                  <p class="card-text"><%= figurine.description %></p>
                  <p class="card-text">3
                    Note moyenne : &#9733; &#9733; &#9733; &#9733; &#9734;
                    <br>
                    <a href="#" data-toggle="modal" data-target="#reviewsModal">Détails des avis</a>
                  </p>
                  <strong class="h5 d-block">$<%= figurine.price %></strong>
                  <p class="card-text">
                    <a href="/bookmarks/add/<%= figurine.id %>" class="link-add-bookmarks">+ Ajouter aux favoris</a>
                  </p>
              </div>
            </div>
          </div>

        </article>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </main>
  <!-- /.container -->

  <!-- Modale des avis -->
  <section class="modal fade" id="reviewsModal" tabindex="-1" role="dialog" aria-labelledby="reviewsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="reviewsModalLabel">Avis des internautes</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <section>
            <h5>Une belle figurine &nbsp; <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small></h5>
            <p class="review-author">par Jean-Claude Dus</p>
            <p>La finition est bien, le rose est vraiment rose. Seul bémol, le livreur a abimé la main droite.</p>
          </section>

          <hr>

          <section>
            <h5>Bof Bof... &nbsp; <small class="text-muted">&#9733; &#9733; &#9734; &#9734; &#9734;</small></h5>
            <p class="review-author">par Thérèse de Monsou</p>
            <p>La figurine ne tient pas debout seule. Certains détails sont mal finis, comme les bracelets.</p>
          </section>

          <hr>

          <section>
            <h5>Juste parfait &nbsp; <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small></h5>
            <p class="review-author">par Monsieur Preskovitch</p>
            <p>C'est tellement parfait, on dirait que c'est roulé à la main sous les aisselles.</p>
          </section>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </section>

<%- include('partials/footer') %>
