<%- include('./partials/head') %>

<%- include('./partials/navigation') %>

<!-- Page Content -->

<%- include('./partials/leftMenu') %>

	<script type="application/ld+json">
		{
		"@context": "https://schema.org/",
		"@type": "Product",
		"name": "<%= figurineFound.name %>",
		"description": "<%= figurineFound.description %>",
		"image": "http://localhost:3000/images/<%= figurineFound.name.toLowerCase() %>.png",
		"offers":{
			"@type": "Offer",
			"priceCurrency": "USD",
			"price": "<%= figurineFound.price %>",
			"itemCondition": "https://schema.org/NewCondition",
			"priceValidUntil" : "<%= new Date(new Date().getFullYear(), 11, 31, 23, 59, 59, 999).toISOString(); %>"
			}
		}
	</script>


	<main class="col-lg-9">

		<article class="row">
			<div class="col-lg-6">
				<img class="" src="/images/<%= figurineFound.name.toLowerCase() %>.png" alt="">
			</div>

			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<h2 class="card-title h3 d-inline">
							<%= figurineFound.name %>
						</h2>
						<h3 class="h3 badge badge-pill badge-<%= figurineFound.category.toLowerCase() %>"><%= figurineFound.category %></h3>
						<p class="card-text">Taille réelle : <%= figurineFound.size %>cm</p>
						<p class="card-text"><%= figurineFound.description %></p>
						<p class="card-text">3
						Note moyenne : &#9733; &#9733; &#9733; &#9733; &#9734;
						<br>
						<a href="#" data-toggle="modal" data-target="#reviewsModal">Détails des avis</a>
						</p>
						<strong class="h5 d-block">$<%= figurineFound.price %></strong>
						<p class="card-text">
						<a href="/bookmarks/add/<%=figurineFound.id%>" class="link-add-bookmarks">+ Ajouter aux favoris</a>
						</p>
					</div>
				</div>
			
			</div>

		</article>
		<!-- /.row -->

	</main>
	<!-- /.col-lg-9 -->

</div>
<!-- /.row -->

</div>
<!-- /.container -->

<!-- Modale des avis -->
<div class="modal fade" id="reviewsModal" tabindex="-1" role="dialog" aria-labelledby="reviewsModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h3 class="modal-title" id="reviewsModalLabel">Avis des internautes</h3>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">

			<% reviews.forEach(review => { %>
				<section>
					<h5><%= review.title %> &nbsp; <small class="text-muted"><%- "&#9733; ".repeat(Math.min(5, review.note)) %><%- "&#9734; ".repeat(Math.max(0,Math.min(5, 5-review.note))) %> </small></h5>
					<p class="review-author">par <%= review.author %></p>
					<p><%= review.message %></p>
				</section>

				<hr>
			<% }) %>

		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
		</div>
		</div>
	</div>
</div>

<%- include('./partials/footer') %>